main {
	width: 25rem;
	height: 37rem;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	background: gainsboro;
}

main > .display {
	width: calc(100% - 1rem);
	height: calc(5rem - 2px);
	margin: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background: white;
}

main #clear {
	font-size: 1.5rem;
	margin: 1rem;
	cursor: pointer;
}

main > .display > div {
	height: 100%;
	overflow-y: auto;
}

main > .keyboard {
	width: 100%;
	height: 30rem;
	display: flex;
	flex-wrap: wrap;
}

main .key {
	width: calc((100% / 3) - 1rem);
	height: calc((100% / 4) - 1rem);
	margin: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	background: white;
	cursor: pointer;
}